
@font-face {
	font-family: 'Raleway';
	src: url('Raleway.eot');
	src: url('Raleway.eot?#iefix') format('embedded-opentype'),
		url('Raleway.woff') format('woff'),
		url('Raleway.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

