<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login</title>
    <?php require_once('includes/site-master-account.php'); ?>
</head>

<body class="body-bg-full profile-page" style="background-image: url(<?= base_url('assets') ?>/demo/night.jpg)">
    <div id="wrapper" class="row wrapper">
        <div class="col-10 ml-sm-auto col-sm-6 col-md-4 ml-md-auto login-center mx-auto">
            <div class="navbar-header text-center">
                <a href="<?= base_url(); ?>">
                    <img alt="" src="<?= base_url('assets') ?>/demo/logo-expand-dark.png">
                </a>
            </div>
            <div style="background-color: #fff; height: 700px; width: 100%;">
                
            </div>
        </div>
        <!-- /.login-center -->
    </div>
    <!-- /.body-container -->
    <?php require_once('includes/footer-account.php'); ?>
</body>

</html>